*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
/* Existing styles for .nav and other classes */

.fixedNavbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust z-index if needed */
    /* Additional styles (background, padding, etc.) can be added as per your design */
  }
  

.nav{
    background-color: rgb(241, 241, 241);
    
}
.nav_bg{
    background-color: rgb(230, 240, 240) ;
}
.nav:hover{
    background-color: rgb(230, 240, 240);
}
.img_logo{
    width: 90px;
    display: flex;
    justify-items: center;
    margin: 242px
}
a{
    text-decoration: none;
}
body{
    font-family: sans-serif;
    background-color: #ffffff;
}
nav{
   
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.nav_logo{
    max-width: 100px;;
}
.nav_links{
   
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0px 450px 0px;
}
.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #334389;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
 
}
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}
.link a:hover::after{
    width: 100%;
}


.nav {
    background-color: rgb(241, 241, 241);
    height: 60px; 
    transition: all 0.5s ease;
    box-shadow: none;
}
  .scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(230, 240, 240);
    transition: all 0.5s ease; /* Transition effect when scrolled */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example shadow effect */
  }
  
  
  

  